h3{
text-transform: capitalize;
font-family:Arial,Helvetica,san-serif;
 }
 .bg{
 font-family:"Times New Roman",Times,serif;
 }
.button{
float:right;
color:white;

}
.btn{
border:2px solid #000;
padding:10px 30px;
color:white;

}
.btn:hover{
background-color:black;
 background-image:linear-gradient(black,white);
color:#800000;
}

